<a href="https://colab.research.google.com/github/shzzd/spam-detection-TFIDF-BNB/blob/main/code/spam_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TF-IDF stands for “Term Frequency — Inverse Document Frequency”. This is a technique to quantify words in a set of documents. We generally compute a score for each word to signify its importance in the document and corpus. This method is a widely used technique in Information Retrieval and Text Mining.

In [16]:
pwd

'/content'

In [17]:
import pandas as pd

In [19]:
df = pd.read_csv('spam.csv', encoding='latin-1')
df.head()

   type                                              email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [20]:
df.shape

(5572, 2)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   type    5572 non-null   object
 1   email   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [23]:
df.isnull().sum()

type     0
email    0
dtype: int64

In [25]:
X = df.email
y = df.type

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [26]:
vect = TfidfVectorizer()
X_tfidf = vect.fit_transform(X)

In [30]:
X_tfidf.toarray().shape

(5572, 8672)

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X_tfidf.toarray(), y, random_state=0)

In [33]:
from sklearn.naive_bayes import BernoulliNB

In [37]:
bnb = BernoulliNB()
bnb.fit(X_train, y_train)

BernoulliNB()

In [40]:
from sklearn.metrics import accuracy_score, classification_report

In [41]:
y_predict = model.predict(X_test)
accuracy_score(y_test, y_predict)

0.9755922469490309

In [42]:
pd.crosstab(y_test, y_predict)

col_0   ham  spam
type
ham    1192     4
spam     30   167

In [43]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         ham       0.98      1.00      0.99      1196
        spam       0.98      0.85      0.91       197

    accuracy                           0.98      1393
   macro avg       0.98      0.92      0.95      1393
weighted avg       0.98      0.98      0.97      1393